.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $black;
	z-index: 999;
	overflow-y: scroll;
}

.overlay-close {
	position: fixed;
	background: none;
	border: none;
	right: 0;
	top: 0;
	padding: 15px;
	z-index: 100;
	span {
		color: $white;
		@extend .fa;
		@extend .fa-times;
		@extend .fa-2x;
	}
}

.overlay nav {
	text-align: center;
	position: relative;
	top: 40%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	&:last-child {
		margin-bottom: 20%;
	}
}

.overlay ul li a {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 20px;
	// text-transform: uppercase;
	display: block;
	color: $white;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	padding: 10px 0;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: $bright;
	text-decoration: underline;
}

.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

.body-locked {
    overflow: hidden;
}