.description {
	@include span(first 18 of 24);
	@include pre(3);
	margin-top: 15%;
	margin-bottom: 10%;

	h1, h2, h3, p {
		text-align: center;
	}
}

.project-image {
	@include span(first 22 of 24);
	@include pre(1);
	text-align: center;
	z-index: 10;
	
	img {
		width: 100%;
		max-width: 1084px;
		margin-bottom: 60px;
	}
}