#previous,
#next {
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	border-bottom: 2px solid $black;
	text-align: center;
	position: fixed;
	bottom: 0;
	margin: 15px;
	font-size: 13px;
	cursor: pointer;
	span {
		@extend .fa;
	}
}

#next {
	right: 0;
	text-align: right;
	span {
		@extend .fa-long-arrow-right;
	}
}

#previous {
	span {
		@extend .fa-long-arrow-left;
	}
}
