---
title: Project Fulano
---

= partial "nav"

.container
	.description
		%h2 Category
		%h1 Bacon ipsum dolor
		%p Turducken sausage cow bresaola. Shoulder drumstick pork loin bresaola. Prosciutto ham fatback leberkas pastrami short loin andouille beef pig biltong filet mignon chuck. Hamburger ham hock filet mignon meatball.

.project-image
	=image_tag "laptop.png"