%nav
	.menu
		%span#trigger-overlay

.overlay.overlay-slidedown
	%button.overlay-close Close
	%nav
		%ul
			%li
				%a{:href => "#"} Home
			%li
				%a{:href => "#"} Home
			%li
				%a{:href => "#"} Home
			%li
				%a{:href => "#"} Home