---
title: About Monique
---

= partial "nav"


/ .face
/ 	=image_tag "me.jpg"

.container#about

	.face
	.aboutme
		%h1 Who Dat?
		%p I am just about the most impressive person in the whole entire world, as I have been told countless times by my mentor, Stephen Hawking. At age 4 I graduated from NASA, age 7 became speechwriter for President Hillary Clinton, and at age 18 got a Certified Hottie degree from Cambridge University.

		%p On top of my career achievements I'm also fluent in 35 languages, 4 of which are from the animal kingdom (lizard, mantis-shrimp, humming-bird and cat), and am all around a lovely person to be around, just ask my best friends Beyonce and Steven Pinker.

		%p If you'd like to get in touch, please send me an email at monique@brasil.gov

